.buttonsContainer {
}

.responseContainer {
    display: flex;
}

.imageContainer {
    width: 500px;
}

.image {
}

.textContainer {
    width: 500px;
    float: right;
    text-align: center;
    /*vertical-align: center;*/
    align-items: center;
}

.code {
}

.text {
}

.info {
}