.item {
}

.item:last-of-type {
}

.users {
    width: 300px;
    border-collapse:collapse;
}

.buttonsContainer {
}

.container {
}

.thead {
    background-color: lightblue;
    font-weight: bold;
}

.nameCol {
    margin-right: 20px;
}

.ageCol {
    font-weight: bold;
}