.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.disabled {
    border: none;
    background-color: #DDEEFF ;
    color: white;
    opacity: 0.5;
}

.secondary {
/*opacity: 0.6;*/

    background: transparent;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
}

.default {
    background-color: dodgerblue;
}

.red {
    background-color: red;
}

.default:hover {
    background-color: #0059b3;
}

.red:hover {
    background-color: darkred;
}

.secondary:hover {
    background-color: cornflowerblue;
    color: white;
}


.default:active {
    background-color: #0066cc;

}

.secondary:active {
    background-color: #DDEEFF;
}

.red:active {
    background-color: #cc0000;
}

.button:disabled {

}
